<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4><span class="bold">Question #1: </span>How do you write a Javascript "For each" loop?</h4>
    </div>
    <div class="panel-body">
      <textarea rows="6" placeholder="Use this area as a scratch pad."></textarea>
      <hr>
      <div class="panel-body answerArea text-center" *ngIf="viewAnswer==false" (click)="viewAnswer=true">
        <span class="clickInstruction">Click or tap to view answer.</span>
      </div>
      <div *ngIf="viewAnswer==true">
        <pre>
const arr = ['a', 'b', 'c'];

arr.forEach(function(element) &#123;
    console.log(element);
&#125;);

// a
// b
// c
    </pre>
      </div>
    </div>
    <div class="panel-footer">
      <button class="btn btn-primary pull-right">Next Question</button>
      <button class="btn btn-primary">Previous Question</button>
    </div>
  </div>
</div>