.panel {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.panel-body {
    min-height: 150px;
}

.clickInstruction {
    font-weight: bold;
    
}

.answerArea {
    padding-top: 60px;
}

textarea {
    width: 100%;
    resize: none;
}

hr {
    border-color: none;
    height: 2px;
    color:#102770;
    background-color: #102770;
}