<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
        aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" [routerLink]="['/']">Flashy</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" data-toggle="collapse" data-target=".navbar-collapse.show" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="navLink"><a [routerLink]="['/']">Home</a></li>
        <li class="navLink"><a [routerLink]="['about']">About</a></li>
        <li class="navLink"><a [routerLink]="['create-deck']">Create Deck</a></li>
        <li class="navLink"><a [routerLink]="['manage-decks']">Manage Decks</a></li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>