.navbar {
    background-color: #004790;
    margin-bottom: 20px;
    border: 0;
    border-radius: 0;
}

li:hover {
    background-color: #102770;
}

.navbar-toggle.collapsed { 
    background-color: #004790;
}


.navLink > a:focus {
    background-color:#102770!important;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

/* .navbar-toggle:hover {
    background-color: #004790;
} */

.navbar-brand {
    color: white;
}

.navbar-brand:hover {
    color: white;
}

.navbar-brand:focus {
    color: white;
}

.navbar-default .navbar-nav>li>a {
    color: white;
}

