.jumbotron {
    background-color: #fff;
    margin-bottom: 40px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 2px;
}

h2 {
    margin: 0;
}

.card {
    margin-bottom: 20px;
}

.inner {
    background-color: lightgray;
    border-radius: 2px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.btn {
    border-radius: 2px;
}

.button-container {
    display: inline;
}

h4 {
    font-weight: bold;
    margin: 0;
}