<!-- <div class="jumbotron text-center">
    <div>
        <h2>Select a deck to begin review!</h2>
        <h3>Decks can be managed and created using the menu options at the top of the screen.</h3>
    </div>
</div> -->

<div class="container">
    <div class="row">
        <div class="col-sm-4 card" *ngFor="let deck of decks">
            <div class="inner">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">
                        <h4>{{ deck.topic }} ({{ deck.id }})</h4>
                    </div>
                    <div class="panel-body">{{ deck.description }}</div>
                    <div class="panel-footer">
                        <button type="button" class="btn btn-info">Edit</button>
                        <a [routerLink]="['viewer']" class="btn btn-primary pull-right">Study!</a>
                    </div>
                </div>
            </div>
        </div>        
    </div>

    <!-- <div class="row">
        <div class="col-sm-4 card">
            <div class="inner">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">
                        <h4>Python</h4>
                    </div>
                    <div class="panel-body">
                        Bacon ipsum dolor amet ham hock shank tenderloin, hamburger pork belly meatloaf porchetta pastrami. Cow picanha kielbasa
                        porchetta pork loin ribeye tenderloin rump shankle ham turducken.
                    </div>
                    <div class="panel-footer">
                        <button type="button" class="btn btn-info">Edit</button>
                        <button type="button" class="btn btn-primary pull-right">Study!</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 card">
            <div class="inner">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">
                        <h4>C#</h4>
                    </div>
                    <div class="panel-body">
                        Bacon ipsum dolor amet ham hock shank tenderloin, hamburger pork belly meatloaf porchetta pastrami. Cow picanha kielbasa
                        porchetta pork loin ribeye tenderloin rump shankle ham turducken.
                    </div>
                    <div class="panel-footer">
                        <button type="button" class="btn btn-info">Edit</button>
                        <button type="button" class="btn btn-primary pull-right">Study!</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 card">
            <div class="inner">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">
                        <h4>Algorithms and Data Structures</h4>
                    </div>
                    <div class="panel-body">
                        Bacon ipsum dolor amet ham hock shank tenderloin, hamburger pork belly meatloaf porchetta pastrami. Cow picanha kielbasa
                        porchetta pork loin ribeye tenderloin rump shankle ham turducken.
                    </div>
                    <div class="panel-footer">
                        <button type="button" class="btn btn-info">Edit</button>
                        <button type="button" class="btn btn-primary pull-right">Study!</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-4 card">
            <div class="inner">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">
                        <h4>Ruby</h4>
                    </div>
                    <div class="panel-body">
                        Bacon ipsum dolor amet ham hock shank tenderloin, hamburger pork belly meatloaf porchetta pastrami. Cow picanha kielbasa
                        porchetta pork loin ribeye tenderloin rump shankle ham turducken.
                    </div>
                    <div class="panel-footer">
                        <button type="button" class="btn btn-info">Edit</button>
                        <button type="button" class="btn btn-primary pull-right">Study!</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 card">
            <div class="inner">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">
                        <h4>Angular</h4>
                    </div>
                    <div class="panel-body">
                        Bacon ipsum dolor amet ham hock shank tenderloin, hamburger pork belly meatloaf porchetta pastrami. Cow picanha kielbasa
                        porchetta pork loin ribeye tenderloin rump shankle ham turducken.
                    </div>
                    <div class="panel-footer">
                        <button type="button" class="btn btn-info">Edit</button>
                        <button type="button" class="btn btn-primary pull-right">Study!</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 card">
            <div class="inner">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">
                        <h4>Git</h4>
                    </div>
                    <div class="panel-body">
                        Bacon ipsum dolor amet ham hock shank tenderloin, hamburger pork belly meatloaf porchetta pastrami. Cow picanha kielbasa
                        porchetta pork loin ribeye tenderloin rump shankle ham turducken.
                    </div>
                    <div class="panel-footer">
                        <button type="button" class="btn btn-info">Edit</button>
                        <button type="button" class="btn btn-primary pull-right">Study!</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4 card">
            <div class="inner">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">
                        <h4>HTMl 5</h4>
                    </div>
                    <div class="panel-body">
                        Bacon ipsum dolor amet ham hock shank tenderloin, hamburger pork belly meatloaf porchetta pastrami. Cow picanha kielbasa
                        porchetta pork loin ribeye tenderloin rump shankle ham turducken.
                    </div>
                    <div class="panel-footer">
                        <button type="button" class="btn btn-info">Edit</button>
                        <button type="button" class="btn btn-primary pull-right">Study!</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 card">
            <div class="inner">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">
                        <h4>Node.JS</h4>
                    </div>
                    <div class="panel-body">
                        Bacon ipsum dolor amet ham hock shank tenderloin, hamburger pork belly meatloaf porchetta pastrami. Cow picanha kielbasa
                        porchetta pork loin ribeye tenderloin rump shankle ham turducken.
                    </div>
                    <div class="panel-footer">
                        <button type="button" class="btn btn-info">Edit</button>
                        <button type="button" class="btn btn-primary pull-right">Study!</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 card">
            <div class="inner">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">
                        <h4>Android</h4>
                    </div>
                    <div class="panel-body">
                        Bacon ipsum dolor amet ham hock shank tenderloin, hamburger pork belly meatloaf porchetta pastrami. Cow picanha kielbasa
                        porchetta pork loin ribeye tenderloin rump shankle ham turducken.
                    </div>
                    <div class="panel-footer">
                        <button type="button" class="btn btn-info">Edit</button>
                        <button type="button" class="btn btn-primary pull-right">Study!</button>
                    </div>
                </div>
            </div>
        </div>
    </div> -->


</div>